



@{
    ViewData["Title"] = "Home Page";
}

<form action="http://localhost:51564/File/Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="testFile" id="testFile" multiple />
    <input type="submit" value="上传" />
    <input type="button" id="btnUpload" value="异步上传" />
</form>

@section Scripts{
    <script>
        $(function () {
            $("#btnUpload").click(function () {
                var fileUpload = $("#testFile").get(0);
                var files = fileUpload.files;
                var data = new FormData();
                for (var i = 0; i < files.length; i++) {
                    data.append(files[i].name, files[i]);
                }
                $.ajax({
                    type: "POST",
                    url: "http://localhost:51564/File/Upload",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (res) {
                        console.log(res);
                        alert(res.msg);
                    }


                })

            });


        });

    </script>

}


